{
  "Кино": "",
  "Книги": "",
  "Музыка": "",
  "Аптеки": "",
  "Жкх/иб": "",
  "Красота": "",
  "Топливо": "",
  "Рестораны": "",
  "Дом, ремонт": "",
  "Развлечения": "",
  "Мобильные/иб": "",
  "Одежда, обувь": "",
  "Интернет, voip/иб": "",
  "Супермаркеты": "",
  "Авто услуги": ""
}
